* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;

    min-height: 100vh;
}
header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
  }
  h3{
    text-align: left;
    margin: 0 auto;
    border: #FDF0D5;
   padding: 10px;
   background-color: #800909;
   border-radius: 20px;
   margin-left: 65px;
   box-sizing: content-box;
   width: 150px;
   height: 50px;
  }
a{
    font-size: 30px;
    text-decoration: none;
    color: black;
}
.products {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    max-width: 1200px;
    justify-content: center;
}
.product:hover{
    background-color: #c2c2c2;
}

.product {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;

    width: 250px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product img {
    width: 100%;
    height: auto;
}



.product .price {
    font-size: 14px;
    color: #999;
    text-decoration: line-through;
}

.product .discount-price {
    font-size: 18px;
    color: #e63946;
    font-weight: bold;
    margin: 5px 0;
}

.product .discount-price span {
    font-size: 12px;
    font-weight: normal;
    color: #333;
}


.times{
   display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.patrocinados {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c47373; /* Cor de fundo marrom */
    padding: 20px;
  }
  
  .titulo {
    color: #fff; /* Cor branca */
    font-weight: bold;
  }
  
  .logo {
    color: #fff;
    font-weight: bold;
  }
  
  img {
    height: 50px; /* Ajuste o tamanho conforme necessário */
  }
img{
    width: 100px;
    height: 100px;

    display: flex;
    flex-wrap: wrap;

}

footer {
    background-color: #422828;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    margin-top: 35px;
}

footer img {
    width: 50px;
    height: auto;
    margin: 5px;
}

footer .patrocinados {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 15px;
}
footer .contatos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 15px;
}
footer p {
    margin: 5px 0;
    font-size: 12px;
}